@import "tailwindcss"; 

@theme {
  --color-mint-500: gray;
   --color-Gray:#5A5959;
   --color-Red:#D01C28;
   --color-yellow-200:#FFEAAE;
   --color-Purple:#5F00D9;
   --color-White:#FFFFFF;
   --color--Orange:#F6820C;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  width: 100vw;
}